source https://www.nuget.org/api/v2
framework: auto-detect

//Main deps
nuget FSharp.Core >= 4.1
nuget Unquote >= 4.0
nuget WindowsAzure.Storage >= 9.0

//Testing deps
nuget Expecto
nuget Microsoft.NET.Test.Sdk
